<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Prediction Input</title>
</head>
<body>
    <h1>Enter Data for Prediction</h1>
    <!-- predict_datapoint is the function we need to call-->
    <form action="{{url_for('predict_datapoint')}}" method="post">
        <input type="text" name="Temperature" placeholder="Temperature" required="required"><br>
        <input type="text" name="RH" placeholder="RH" required="required"><br>
        <input type="text" name="Ws" placeholder="Ws" required="required"><br>
        <input type="text" name="Rain" placeholder="Rain" required="required"><br>
        <input type="text" name="FFMC" placeholder="FFMC" required="required"><br>
        <input type="text" name="DMC" placeholder="DMC" required="required"><br>
        <input type="text" name="ISI" placeholder="ISI" required="required"><br>
        <input type="text" name="Classes" placeholder="Classes" required="required"><br>
        <input type="text" name="Region" placeholder="Region" required="required"><br>
        <button type="submit">Submit</button>
    </form>
    <h2>The FWI prediction is {{results}}</h2>
</body>
</html>
